@import '~/styles/helpers'

.wrapper
    flex-shrink: 0
    width: 360px
    background-color: $n8
    border-left: 1px solid $n3
    display: none
    +t
        display: flex
    
.container
    height: var(--full-h) 
    width: var(--full-w) 
    position: relative