@import ../../styles/helpers
.button
    display: flex
    align-items: center
    justify-content: center
    padding: 4px
    border: none
    width: var(--full-w)
    height: var(--full-h)
    transition-duration: 300ms
    cursor: pointer
    background-color: transparent
    border-radius: 4px
    &:hover
        background-color: $n6

.classButton
    display: flex
    align-items: center
    justify-content: center
    width: var(--full-w)

.buttonBackground
    padding: 4px
    border-radius: 4px
    border: none
    cursor: pointer
    width: var(--full-w)
    background-color: $p1
    transition-duration: 300ms
    color: $n
    +t
        padding: 6px
    &:hover
            background-color: $p2

.backgroundGallery
    padding: 4px
    border-radius: 4px
    outline: none
    border: none
    background-color: $n3
    transition-duration: 300ms
    cursor: pointer
    width: var(--full-w)
    color: $n
    +t
        padding: 6px
    &:hover
        background-color: $n5

.buttonBorder
    border: 1px solid $n3
    border-radius: 5px
    color: $n0
    padding: 4px 6px
    width: var(--full-w)
    background-color: transparent
    cursor: pointer
    &:hover
        background-color: $n6

.buttonDisabled
    cursor: not-allowed
    background-color: $p1
    opacity: 0.7
    color: $n
    border-radius: 4px
    border: none
    &:hover
        background-color: $p1
        opacity: 0.7

.buttonLoading
    border: 2px solid transparent
    border-radius: 50%
    border-top: 2px solid $p9
    border-right: 2px solid $p9
    border-bottom: 2px solid $p9
    height: 12px
    width: 12px
    -webkit-animation: spin 1s linear infinite
    animation: spin 1s linear infinite

@keyframes spin 
  0%  
    transform: rotate(0deg)
  100%  
    transform: rotate(360deg)


