@import '~/styles/helpers'

.wrapper
    display: flex
    align-items: center
    flex-direction: row
    gap: 8px
    +t 
        gap: 12px

.contentWrapper
    display: flex
    gap: 12px 0
    flex-direction: row
    width: 32px
    &.hidden
        display: none
        
    +t
        display: none
        width: 0
        &.hidden
            display: flex 
            width: auto 

    &:nth-child(4)
        display: flex
        flex: 1 0 0px
        width: var(--full-w)
        gap: 12px
    +t
        &:nth-child(4)
            flex: none
            width: 240px   
            

.buttonWrapper
    display: none
    gap: 12px 0
    width: var(--full-w)
    height: 35px
    &.active
        display: flex
            
.wrapperTick
    position: absolute 
    top: -2px
    right: -2px
    height: 8px
    width: 8px
    border-radius: 100%
    background-color: $p1

.buttonActive
    border: none
    width: var(--full-w)
    transition-duration: 300ms
    cursor: pointer
    border-radius: 4px
    background-color: transparent

    &.active
        background-color: $p1
        &:hover
            background-color: $p2  

    &:hover
        background-color: $n6

    padding: 4px
    +t
        padding: 6px

.buttonContent
    display: flex
    align-items: center
    justify-content: center
    gap: 0px
    &.activeIcon
        gap: 4px
    
.wrapperPriceFloor
    font-weight: 600
    +text-sm
    display: flex
    align-items: center
    gap: 4px
