@import '~/styles/helpers'

.wrapper
    width: var(--full-w)    

.container
    display: flex
    border-radius: 12px
    border: 1px solid $n3
    background-color: $n6
    padding: 16px

.wrapperContainer
    display: flex
    flex-direction: column
    width: var(--full-w)


.wrapperHeader
    display: flex
    flex-direction: column       

.wrapperDescription
    color: $n1
    font-style: italic  

.wrapperBody
    display: flex
    flex-direction:  column
    border-radius: 12px
    border: 1px solid $n3
    background-color: $n8
    padding: 12px 
    margin-top: 24px
    color: $n
    gap: 24px

.bodyContainer
    display: grid
    grid-template-columns: repeat(1, minmax(0, 1fr))
    +t
        grid-template-columns: repeat(2, minmax(0, 1fr))
    width: var(--full-w)
    gap: 12px

.containerItems
    display: flex
    flex-direction: column    
    gap: 8px
    color: $n1

.wrapperButtonSave    
    height: 35px

.wrapperButtonAttribute
    height: 37px    
    padding: 8px
    color: $n1
    transition-duration: 300ms

.buttonAttribute
    display: flex
    justify-content: space-between
    width: var(--full-w)
    align-items: center  


.wrapperPercent
    display: flex
    justify-content: center
    align-items: center
    height: 35px
    width: 35px
    border-left: 1px solid $n3  
    background-color: $n7
    border-bottom-right-radius: 5px
    border-top-right-radius: 5px
    +text-base 

.wrapperRoyalties
    display: flex
    align-items: center
    border: 1px solid $n3           