@import '~/styles/helpers'

.wrapper
    display: flex
    width: var(--full-w)

.container
    display: flex
    width: var(--full-w)
    padding: 40px 32px
    justify-content: space-between
    align-items: center

.containerLogo
    width: 60px
    height: 50px

.wrapperItemNavbar
    display: flex
    align-items: center
    gap: 16px

.itemNavbar
    color: $n
    font-weight: 600 
    transition-duration: 150ms
    transition-property: color
    &:hover
        color: $p1


