@import '~/styles/helpers'

.classContentModal
    display: none
    +t
        display: flex
        width: 520px   

.classHeader    
    display: none  

.classBody   
    height: 80px
    &.loading
        height: 300px
        &.noCollection
            height: 80px 


   

