@import '~/styles/helpers'

.wrapper
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem 0.5rem
    -webkit-box-align: center
    flex-direction: column
    text-align: center

.heading
    +text-lg 
    +m
        +text-3xl
    +t
        +text-4xl
    color: $n     
    fill: $n 
    filter: url(#filter)

.content
    color:$n1
    font-weight: 600
    filter: url(#filter)
    +text-xxs
    +m
        +text-xs
    +t
        +text-sm
    margin: 0
    padding: 0


    
    