// media queries
=q 
    @media only screen and (min-width: "1259px")
        @content
=w 
    @media only screen and (min-width: "1016px")
        @content
=x 
    @media only screen and (min-width: "992px")
        @content
=d 
    @media only screen and (min-width: "856px")
        @content
=t 
    @media only screen and (min-width: "768px")
        @content
=m 
    @media only screen and (min-width: "640px")
        @content
=a 
    @media only screen and (min-width: "567px")
        @content
=s 
    @media only screen and (min-width: "475px")
        @content

// fonts
=inter
    font-family: 'Inter', sans-serif

$p1: #FF2982
$p2: #CC2168
$p3: #4393BE
$p4: #59486A
$p5: #30152E
$p6: #07B575
$p7: #00d18c
$p8: #e42575
$p9: #FFAA00

$n: #FFFFFF
$-n1: #F5F3F8
$n0: #998CA6
$n1: #9C93A5
$n2: #40324E
$n3: #2b2037
$n4: #33273F
$n5: #24182F
$n6: #1C1326
$n7: #120C18
$n8: #08050A

$c1: #F8F7F8
$c2: #B4ABBA

=text-xxs
    font-size: .625rem
    line-height: .875rem

=text-xs
    font-size: .75rem
    line-height: 1rem


=text-sm
    font-size: .875rem
    line-height: 1.25rem    

=text-base 
    font-size: 1rem
    line-height: 1.5rem

=text-xl
    font-size: 1.25rem
    line-height: 1.75rem 

=text-lg 
    font-size: 1.125rem
    line-height: 1.75rem


=text-3xl 
    font-size: 1.875rem
    line-height: 2.25rem


=text-4xl 
    font-size: 2.25rem
    line-height: 2.5rem


=text-5xl 
    font-size: 3rem
    line-height: 3.25rem   


