@import ../../styles/helpers

.wrapper
    overflow: hidden
    text-overflow: ellipsis
    
.white
    color: $n

.gallery
    color: $n1    

.nowrap
    white-space: nowrap

.fontMedium
    font-weight: 500

.fontSemiBold
    font-weight: 600

.fontBold
    font-weight: 700

.small
    font-size: 8px

.medium
    font-size: 10px   

.large
    font-size: 12px

.xl
    font-size: 14px   

.xxl 
    font-size: 15px

.xxxl 
    font-size: 16px
    +s
        font-size: 18px

.extraLarge4 
    font-size: 18px
    +s
        font-size: 20px

.extraLarge5 
    font-size: 20px
    +s
        font-size: 22px

.extraLarge6 
    font-size: 22px
    +s
        font-size: 24px

.extraLarge7 
    font-size: 24px
    +s
        font-size: 26px
                                  