@import '~/styles/helpers'


.wrapper
    width: 240px 
    display: flex
    flex-shrink: 0
    background-color: $n8
    border-right: 1px solid $n3   
    height: var(--full-h)
    +q
        width: 280px 

.wrapperContainer
    display: flex
    flex-direction: column
    width: var(--full-w)
    flex-shrink: 0

.containerHeader
    display: flex
    flex-direction: row
    align-items: center
    color: $n
    justify-content: space-between

.wrapperHeaderRight
    display: flex
    flex-direction: row
    align-items: center
    padding: 0 16px 0 0 
    gap: 8px    

.buttonCloseFilter    
    transform: translateY(2px)
    cursor: pointer
    color: $n
    transition-duration: 150ms
    &:hover
        color: $n1

.wrapperBody        
    flex: 1 1 auto
    height: 0px

.containerBody
    display: flex
    flex-direction: column
    height: var(--full-h)
    gap: 12px

.containerSearch
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 4px 16px
    
.wrapperSearch
    display: flex
    align-items: center
    flex-direction: row   

.button
    min-width: 35px
    min-height: 35px

.inputSearch
    display: flex
    height: 35px 
    transition-duration: width, visibility, opacity
    transition-duration: 500ms     
    width: 0px
    opacity: 0
    visibility: hidden
    &.active
        width: var(--full-w)
        visibility: visible
        opacity: 1

.containerFilter
    display: flex
    flex-direction: column
    outline: none
    overflow-x: hidden
    height: var(--full-h)
    padding: 0 16px 16px 16px
    overflow-y: auto
    gap: 6px
    flex: 1 1 auto

.wrapperAttribute
    display: flex
    flex-direction: row  
    color: $n1
    gap: 4px
    margin-bottom: 4px  
    text-transform: capitalize