
.wrapper
    display: flex
    width: var(--full-w)
    flex: 1 1 auto

.content
    position: absolute
    display: flex
    flex-direction: column
    flex: 1 1 auto
    margin-left: 0
    width: var(--full-w)

.contentWrapper
    display: flex
    flex-direction: column
    width: var(--full-w)
    height: var(--full-h)
    overflow: hidden    