@import '~/styles/helpers'
.wrapper
    display: flex
    flex-direction: column
    width: var(--full-w)
    max-width: var(--max-width)
    margin: 0 auto
    background-color: $n7
    margin-top: 49px
    +t
        margin-top: 0px


.container
    display: flex     
    flex: 1 1 auto
    flex-direction: column