@import '~/styles/helpers'
.wrapper
    display: flex
    flex-direction: column
    width: var(--full-w)
    height: var(--full-h)
    overflow-y: auto
    overflow-x: hidden
    background-color: $n7

.container
    display: flex     
    flex: 1 1 auto
    flex-direction: column