@import '~/styles/helpers'

.relative
    position: relative
    width: var(--full-w)
    height: var(--full-h)      

.wrapperContainer
    width: var(--full-w)
    height: var(--full-h)      

.wrapper 
    position: fixed
    z-index: 9999
    overflow: hidden
    display: flex
    justify-content: center
    align-content: center
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: var(--full-vh)
    width: var(--full-w)
    margin: 0
    background-color: $n7
    border-radius: 0px
    +t
        width: var(--full-w)
        position: absolute
        height: auto
        border-radius: 5px
        background-color: transparent

.topLeft
    +t    
        bottom: 100%
        right: 0
        left: auto
        top: auto

.topRight
    +t    
        bottom: 100%
        left: 0
        top: auto
        right: auto

.bottomLeft
    +t
        top: 100%
        right: 0
        left: auto
        bottom: auto

.bottomRight
    +t     
        top: 100%
        left: 0
        bottom: auto 
        right: auto  

.container
    width: var(--full-w)
    height: var(--full-h)
    margin: 0
    border-radius: 0.375rem
    
.content
    height: var(--full-h)
    transition-property: transform, opacity
    transition-duration: 150ms
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
    opacity: 0
    transform: translate(0, 100%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1)
    transform-origin: center bottom

    &.active 
        opacity: 1
        transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1)

.containerContent  
    display: flex
    flex-direction: column
    background-color: $n7
    height: var(--full-dvh)
    +t
        height: var(--full-h)

.contentHeader
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 12px
    margin-bottom: 12px
    width: var(--full-w)

.header
    width: var(--full-w)

.contentBody
    display: flex
    flex-direction: column
    align-items: center
    padding: 0 16px 16px 16px
    overflow-x: hidden
    overflow-y: auto  
    height: auto
    width: var(--full-w)