@import ../../styles/helpers
    
.header
    position: fixed
    display: flex
    width: var(--full-w)
    min-height: 48px
    height: 48px
    border-bottom: 1px solid $n2
    background-color: $n7
    border-color: $n4
    z-index: 70
    +t 
        position: relative
        min-width: 55px
        height: 55px