@import ../../styles/helpers
    
.wrapper 
    position: sticky
    width: var(--full-w)
    top:0
    z-index: 70

.navbar
    width: var(--full-w)
    display: flex
    align-items: center
    padding: 0 8px
    &.active
        padding: 0
    +t
        column-gap: 4px
    +x 
        column-gap: 8px

.headerSearch
    flex: 1 1 auto
    display: flex

.wrapperHeader
    width: var(--full-w)                  

.wrapperNavigate
    flex: 1 1 auto
    align-items: center
    display: flex
    height: var(--full-h)
    column-gap: 8px
    +x
        justify-content: space-between

.navigateHidden
    display: none

.wrapperLogo
    display: flex
    align-items: center
    column-gap: 20px
    padding-left: 4px
    height: var(--full-h)
    +t
       column-gap: 12px 

.contentLogo
    display: flex
    align-items: center    

.menuItems
    display: flex
    +t
        display: none

.logoGardenEden
    width: 176px
    height: 20px
    object-fit: cover 
    background-image: none
    background: none     
    display: none
    +t   
        display: flex

.menuIcon
    color: $n1
    transition-duration: 300ms
    &:hover
        opacity: 80
        color: $n2

.logo
   transform: translateY(6px)
    

.wrapperItems
    margin-top: auto
    margin-bottom: auto
    display: none
    margin-left: 12px
    +t
        display: flex

.items
    display: flex
    column-gap: 12px
    height: var(--full-h)
    
.item
    color: $n
    font-size: .9rem
    font-weight: 600
    font-family: sans-serif,inter
    cursor: default
    margin: auto
    transition-property: opacity
    transition-duration: 300ms
    &:hover
        color: $n
        opacity: 0.8

.wrapperSearch
    flex: 1 1 auto
    display: none
    justify-content: center
    +x
        display: inline-flex

.contentSearch
    position: relative
    width: var(--full-w)

    +x
        width: 520px
        padding: 0

.navbarConnected
    display: flex
    height: var(--full-h)
    flex-shrink: 0
    align-items: center
    position: relative

.navbarCloseSearch
    display: flex
    height: var(--full-h)
    flex-shrink: 0
    align-items: center
    justify-content: center
    padding: 4px
    border-radius: 9999px
    width: 30px
    height: 30px
    overflow: hidden

.borderInputSearch
    border: 1px solid transparent    
    +t
        border: 1px solid $n3

.searchIcon
    display: flex
    width: 40px
    height: 40px
    align-items: center
    justify-content: center
    +x
        display: none

.buttonSearch
    padding: 4px  
    color: $n
    border-radius: 100%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition-duration: 300ms
    &:hover
        background-color: $n3      

.wrapperConnected
    display: flex
    align-items: center
    width: auto

.contentConnected
    display: flex
    margin-top: auto
    margin-bottom: auto
    margin-right: 0px
    gap: 8px
    align-items: center
    +t
        margin-right: 2px

.buttonConnected
    height: 28px
    border-radius: 4px
    outline: none
    border: none
    cursor: pointer
    +t
        height: 32px

.contentButtonDropdown
    display: flex
    align-items: center
    justify-content: center

.wrapperDropdown
    position: absolute
    padding: 16px 
    top: 5px
    right: 0px
    background-color: $n3
    width: fit-content
    opacity: 1
    transform: scaleY(1)
    z-index:300
    transition-duration: 300ms
    transition-timing-function: ease
    transform-origin: center top
    transition-property: transform,opacity
    border-radius: 5px

.showDropDown
    transform: translateY(0px)

.hiddenDropDown
    transform: translateY(-110%)            

.headerDropdown
    display: flex
    align-items: center
    justify-content: space-between
    column-gap: 8px

.buttonCloseDropdown
    color:$n1
    transition-duration: 300ms
    &:hover
        color:$n


.wrapperUser
    display: flex
    align-items: center
    gap: 4px
    padding: 4px 8px
    border-radius: 0.375rem
    transition-duration: 300ms
    cursor: pointer
    &:hover
        background-color: $n5
        

.priceUser
    color: $n  
    font-weight: 600
    font-size: 14px  

.imageUser
    margin-left: 8px
    width: 28px
    height: 28px
    border-radius: 9999px
    object-fit: cover

.iconDropdown
    color: $n1
    transform: translateY(2px)    

.headerModalUserDropDown
    padding: 12px        


.classCloseModalDropdownMenuItem
    display: block
    +t    
        display: none

.classContentModalDropdownMenuItem
    width: 220px
    background-color: $n6
    height: var(--full-h)

.classHeaderModalDropdownMenuItem
    margin: 0!important    

.classBodyModalDropdownMenuItem
    align-items: start!important
    padding: 12px 0!important

.comboKeySearch
    position: absolute
    top: 0
    right: 0px
    color: $-n1
    opacity: 0.8
    cursor: default
    +text-xs
    font-weight: 700
    bottom: 0
    display: flex
    justify-content: center
    align-items: center

        
 