.react-time-picker__wrapper {
  border: none !important;
}

.react-time-picker__inputGroup__input {
  outline: none !important;
  background-color: #08050a !important;
  border: none !important;
}

.react-time-picker__inputGroup__input {
  padding: 0 !important;
  margin: 0 !important;
}

.react-time-picker__button {
  display: none;
}
