@import '~/styles/helpers'

.wrapper
    width: var(--full-w)    

.container    
    width: var(--full-w)    
    display: flex
    flex-direction: column

.wrapperContainer    
    display: flex
    flex-direction: row
    gap: 10px
    justify-content: space-between

.wrapperContentItem
    width: auto 
    background-color: $n6
    border-radius: 0.375rem
    padding: 0.5rem 0
    display: flex
    align-items: center

.containerItem
    padding: 0.625rem 1rem
    font-weight: 500
    cursor: pointer
    font-size: .875rem
    line-height: 1.25rem
    color: $n1

    &.active
        color: $n
        opacity: 1

.contentItem
    display: flex
    align-items: center    
    gap: 4px
    position: relative

.containerValueItem    
    position: absolute
    background-color: $p1
    right: -20px
    border-radius: 9999px
    height: 19px
    width: 19px
    display: flex
    align-items: center
    justify-content: center
    line-height: 1
    font-size: .8125rem
    color: $n

.wrapperContentCreator    
    display: flex
    align-items: center
    justify-content: center

.buttonCreatorNewCollection
    padding: 14px   
    width: var(--full-w)
